<ion-view view-title="Standards Listing">
  <ion-content>
    <ion-list ng-repeat="(key,value) in standards|groupBy:'standardName'">
        <ion-item class="item-divider">
            {{key}}
          
        </ion-item>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="standard in value" type="item-text-wrap" href="#/tab/class/">
            <ng-letter-avatar data="{{standard.skillName}}"></ng-letter-avatar>
            <h2>{{standard.skillName}}</h2>
            <p>{{standard.skillDescription}}</p>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
